body,html {
  font-family: Arial;
  min-width: 320px;
  background-color: #f2f2f2;
  font-size: 100%;
}



*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
span {
  color: #e2181c;
  font-size:1.6rem;
}